.maindiv {
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	justify-items: center;
	grid-row-gap: 2rem;
	padding-bottom: 2rem;
    background-color: whitesmoke;
	padding:20px 15px;
}
@media screen and (max-width: 1430px) {
	.maindiv {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1130px) {
	.maindiv {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}