.maindiv {
    border: 2px solid rgb(235, 231, 231);
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 13px 0;
}

.headerdiv {
    display: flex;
}

.imgdiv{
    height: 250px;
    width: 200px;
}
.maindiv img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details {
    margin: 4px 15px;
    font-weight: 500;
}

.detailsseller {
    margin: 18px 0;
}

.pricesingleline {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.detailsgrey {
    color: grey;
    font-weight: normal;
}

.cross {
    text-decoration: line-through;
}

.greenoff {
    color: rgb(7, 165, 7);
}

.deliverydiv {
    margin-bottom: 8px;
    display: flex;

}

.deliverydiv h3 {
    color: blue;
    font-size: larger;
    margin-right: 3px;
}

.delvryby {
    color: grey;
    font-weight: normal;
}

.footerdiv {
    display: flex;
    justify-content: left;
    align-items: center;
     
    padding-top: 3px;
}

 
.qntychng {
    width: 26px;
     
     border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(170, 162, 162);
    color:rgb(111, 111, 111) ;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}

.qntychng:hover {
    border: 1px solid rgb(97, 97, 97);
     color: rgb(65, 65, 65);
    font-weight: 700;
}

.decrease {
    padding: 1.5px 7.5px;
}

.qnty {
    display: flex;
    width: 190px;
    justify-content: center;
    margin: 20px 0;
}

.qnty .quantity {
    width: 50px;
    height: 25px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid rgb(170, 162, 162);
    color:rgb(64, 64, 64) ;
    font-weight: 600;
}

.movetowishlist {
     padding: 8px 20px;
     border-radius: 3px;
    background-color: rgb(0, 115, 238);
    color: white;
    border: none;
    font-size: medium;
    cursor: pointer;
    font-weight: 500;
    margin: 0 20px;
}

.movetowishlist:hover {

    background-color: rgb(3, 99, 201) ;
}

 