.flexbox {
	display: flex;
	flex-direction: row;
}

.contentbox {
	width: 100%;
}

.galdiv {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	justify-items: center;
	grid-row-gap: 1rem;
	padding: 1rem;
}

.noproduct {
	text-align: center;
	flex: 1;
	font-size: 2rem;
	font-weight: bold;
	color: blue;
	padding: 2rem;
}

.msgbox {
	padding: 20px 10px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(179, 172, 172);
}

/* @media screen and (max-width: 1430px) {
	.galdiv {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 1130px) {
	.galdiv {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
} */