.footer {
    width: 100%;
     
    padding: 2rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 4px grey;

}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    width: 35%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.right {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 12px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.logo img {
    height: 40px;
    padding: 0px;
    margin: 0px;
}

.text {
    color: #a0aec0;
    margin-top: 10px;
}

.fbox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.fbox h3 {
    margin-bottom: 15px;
    font-size: 1rem;
}

.fbox ul li {
    list-style: none;
    color: #9e9e9e;
    margin: 4px 0;
}

.fbox ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.copyright {
    width: 100%;
    background-color: #e5e5e5;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #757575;
}

.socialmedia {
    display: flex;
    flex-direction: row;
}

.socialmedia li {
    list-style: none;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.1s;
    transition-timing-function: ease;

}

.socialmedia li:hover {
    transform: scale(1.2);

}