.maindiv {

    background-color: white;
    color: #636363;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

}

.productdescbox {

    margin: auto;
    display: flex;
    padding: 40px 60px;
    box-shadow: 0px 0px 10px rgb(177, 176, 176);
}

.description {
    padding-right: 8px;
}

.description div {
    padding: 8px 0;

}

.description,
.prodimg {
    flex: 1;
}

.description span {
    margin: 0 2px;
}

.star {
    color: rgb(26, 145, 145);
    font-size: 13px;
}

.line {
    margin: 0 5px;
    border-left: 2px solid #bdbaba;
}

.price {
    color: #c2a133;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

.discount {
    color: rgb(221, 78, 26);
    /* color: rgb(255, 120, 9); */
}

.buttondiv {
    display: flex;
}

.buttondiv div {
    flex: 1;
}

.buttondiv button {
    cursor: pointer;
    padding: 10px 40px;
    font-size: large;
    color: white;
    border: none;
    border-radius: 4px;
}

.cart button {
    background-color: rgb(34, 179, 179);
    transition: 0.3s;
}

.wish button {
    background-color: rgb(241, 46, 79);
    transition: 0.3s;
}

.cart button:hover {
    background-color: rgb(25, 151, 151);

}

.wish button:hover {
    background-color: rgb(202, 33, 61);

}

.prodimg {
    width: 100%;
    height: 500px;
}

.prodimg img {
    width: 100%;
    height: 100%;
    object-fit:contain;
}